*{
    scroll-behavior: smooth;
    background-color: var(--neutral-background-1-rest, #FFFFFF);
    outline: 0px solid red !important; 
    font-family: "SF Pro Display", "apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "sans-serif";
    box-sizing: border-box;
}



html, body {
    margin: 0;
    padding: 4px;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 129.412% */
    letter-spacing: -0.43px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

h1, h2, h3, h4 {
    text-align: center;
    background: none;
}

p{
    overflow: hidden;
    color: var(--Neutral-Foreground-2-Rest, #616161);
    text-align: center;
    text-overflow: ellipsis;    
    font-family: "SF Pro Text";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 138.462% */
    letter-spacing: -0.08px;
}

h1 {
    color: white;
    color: var(--Neutral-Foreground-1-Rest, #242424);
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 116.667% */
    letter-spacing: 0.26px;
}
h2 {
    color: var(--Neutral-Foreground-1-Rest, #242424);
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 127.273% */
    letter-spacing: -0.26px;
}

h3{
    color: #242424;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 121.429% */
    letter-spacing: 0.38px;
}

h4{
    color: #242424;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 127.273% */
    letter-spacing: -0.26px;
    border: 0px;
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: flex-end;
    align-self: stretch;
    background: none;
}

h5{
  color: var(--Neutral-Foreground-1-Rest, #242424);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 129.412% */
  letter-spacing: -0.43px;
}

/* global components tht are designed once to control all- start */
button {
    font-size: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    color: var(--Neutral-Foreground-on-Color-Rest, #FFF);
    border-radius: 12px;
    background: var(--Brand-Background-1-Rest, #8B3DC3);
    gap: 8px;
    height: 52px;
    text-align: center;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0px 20px;
}

.secondary-button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid #8B3DC3;
    background: none; /* Overriding the background property */
    color: #8B3DC3; /* Set the text color to match the border */
}

.subtle-button{
  display: inline-flex;
  height: 50px;
  padding: 0px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: none;
  color: var(--Brand-Foreground-1-Pressed, #5D1192);
}

img {
  width: 100%;
  height: auto;
}

select{
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

select:focus {
    border-color: #8B3DC3;
}


  /* Progress steps */
  /*A progress steps component is a series of milestones that provides an overview of a complex process or multistep flow, like a transportation itinerary or account creation flow. Progress steps help guide and encourage users as they use our apps. */
  .progress-steps-container{
    display: flex;
    padding-top: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    align-self: stretch;
    margin-top: 0%;
}

  .progress-steps {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    height: auto;
  }
  
  .step {
    padding: 0px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex: 1;
    justify-content: center;
  }
  
  .step:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -50%;
    transform: translateY(-50%);
    width: 100%; /* Subtracting circle width */;
    height: 2px;
    background-color: #e0e0e0; /* Default line color */
    z-index: 0;
  }
  
  .step.completed:not(:last-child)::after {
    background-color: #8B3DC3; /* Active line color */
  }
  
  .circle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #e0e0e0; /* Default circle color */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    z-index: 1;
  }
  
  .step.completed .circle {
    background-color: #8B3DC3;
  }
  
  .step.active .circle {
    background-color: black;
    color: white;
  }

/* Progress steps end */

  /* Image preview  */
  .image-preview {
    width: 100PX;
    height: 100PX;
    margin: 5px;
    object-fit: cover;
    border-radius: 12px;
}

#image-preview-container {
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.file-upload-wrapper {
    display: flex;
    padding: 8px 4px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: var(--Corner-radius-80, 24px);
    border: 5px dashed var(--Neutral-Stroke-1-Rest, #D1D1D1);
    background: var(--Neutral-Background-4-Rest, #FFF);
    width: 100%;
    box-sizing: border-box;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    align-self: stretch;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    background-color: none;
    color: #8B3DC3;
    font-size: 16px;
    transition: background-color 0.3s;
}

#file-upload-text {
    align-self: stretch;
    justify-content: center;
    color: #242424;
    color: var(--Neutral-Foreground-1-Rest, #242424);
    text-align: center;
    font-family: "SF Pro Text";
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 129.412% */
    letter-spacing: -0.43px;
}


/* Global text input styles */
.text-input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1.5px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;

    /* Remove default styles */
    background: none;
    box-shadow: none;
}

.text-input:focus {
    border-color: #8B3DC3;
}

.form-label {
    flex: 1 0 0;
    color: var(--Neutral-Foreground-2-Rest, #616161);
    font-family: "SF Pro Text";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
}
/* global components that are designed once to control all- end */


/* onboarding screen1 (login/signup) components start */
.title {
  color: var(--Neutral-Foreground-1-Rest, #242424);
  text-align: center;
  font-family: 'SF Pro Display', 'apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'sans-serif';
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0.26px;
}

.highlight {
  color: var(--Brand-Foreground-1-Rest, #8B3DC3);
}

.illustration {
  padding: 26px;
}

.onboard-buttons{
    display: flex;
    padding: 8px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    padding: 16px;

}

.onboard-text{
    display: flex;
    height: auto;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;
    padding: 8px;
}

.container-onboard {
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
    padding: 16px;
    margin-top: auto;
    box-sizing: border-box;
}
/* onboarding screen1 (login/signup) components end */

/* Whtsapp verification screen components start */
.form-number{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;
    align-self: stretch;
}
/* Whtsapp verification screen components end */

/* Store onbard-industry */

.store-onboard-industry {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}

.store-onboard-industry-options{
  display: flex;
  padding: 12px 0px;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
  gap: 12px 24px;
  align-self: stretch;
  flex-wrap: wrap;
}

.carousel-button{
  display: flex;
  width: 88px;
  height: 100px;
  padding: 8px 2px;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
}

.carousel-button-label{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.carousel-button-label p {
    color: var(--Neutral-Foreground-1-Rest, #242424);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
}

.lucide-icon{
  color: #808080;
  flex-shrink: 0;
}

/* Sticky button that is at the bottom of the screen ith "continue" text */
.sticky-button {
    position: sticky;
    bottom: 0;
    z-index: 10;
}


/* Selected state for carousel buttons (ones with icons for selecting the industry) */
.carousel-button.selected {
    border: 2px solid #8B3DC3; /* Highlight selected button */
}


/* Notification banner styles */
.notification-banner {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffcc00; /* Warning color */
    color: #000;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    z-index: 1000;
    animation: slideDown 0.5s forwards, slideUp 0.5s 2s forwards;
}


/* Payment methods-onbaording*/
.payment-methods {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
  }
  
  .payment-option {
    display: flex;
    padding: 12px 4px;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    justify-content: center;
  }
  
  .payment-option:last-child {
    border-bottom: none;
  }
  
  .payment-icon-and-label {
    display: flex;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
  }

  .payment-icon{
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 10000px;
    justify-content: center;
    align-items: center;
  }
 
  
  .payment-label {
    display: flex;
    flex-direction: row-reverse;
    align-self: stretch;
    align-items: center;
    color: var(--Neutral-Foreground-1-Rest, #242424);
    font-family: "SF Pro Text";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 129.412% */
    letter-spacing: -0.43px;
    text-align: left;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hiding default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #8B3DC3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #8B3DC3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


/* social media inegration methods-onbaording*/
.social-media-container{
  display: flex;
  padding: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  gap: 8px;
}

  .social-media-option {
    display: flex;
    padding: 12px 8px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
  }

  .socialhandle-and-connect-button{
    display: flex;
    padding-right: 0px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
  }

/*fiinal onbaording scvreen*/
.store-qr-code{
  display: flex;
  height: 290px;
  padding: 8px 8px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
}

/* home screen components */
.store-name-and-avatar{
  display: flex;
  height: 48px;
  align-items: center;
  align-self: stretch;
}

.store-name-and-avatar-left{
  display: flex;
  height: 40px;
  align-items: center;
  gap: 12px;
  flex: 1 0 0;
}


.store-name-and-avatar-right{
  display: flex;
  padding-right: 0px;
  justify-content: flex-end;
  align-items: center;
  gap: 0px;
  flex: 1 0 0;
  align-self: stretch;
}

.homescreen-content-container{
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  flex: 1 0 0;
  align-self: stretch;
}



/* The small filter ontop of thesale and orders to filter  the results between days, months  */
.datefiltercontainer{
  display: flex;
  padding: 4px 0px;
  justify-content: flex-end;
  align-items: center;
  flex: 1 0 0;
  width: 100%;
}

.date-filter{
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary-and-datefilter{
  display: flex;
  padding: 4px 0px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.sales-and-orders-summary{
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}

.sales-summary{
  display: flex;
  padding: 8px 0px 12px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 0;
}

.sales-graph {
  display: flex;
  padding: 4px 0px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.one-line-list-item{
  display: flex;
  height: 3rem;
  padding: 0rem 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}

.one-line-list-item-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.one-line-list-item-container-left{
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  flex: 1 0 0;
}

.one-line-list-item-container-right{
  display: flex;
  height: 1.5rem;
  justify-content: flex-end;
  align-items: center;
  gap: 0.25rem; 
}


.bottom-navbar{
  width: 100%;
  display: flex;
  height: 4rem;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  align-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: var(--Controls-TabBar-Background-Rest, rgba(248, 248, 248, 0.94));
}

.tab-action{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0;
  align-self: stretch;
  flex-wrap: wrap;
  align-content: center;
}

.tab-action-icon{
  display: flex;
  justify-content: center;
  align-items: center; 
}

.tab-action-name{
  display: flex;
  height: 1rem;
  align-items: flex-start;
  align-self: stretch;
  overflow: hidden;
  color: var(--Brand-Foreground-1-Rest, #8B3DC3);
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem; /* 133.333% */
}




@keyframes slideDown {
    from {
        top: -50px;
    }
    to {
        top: 0;
    }
}

@keyframes slideUp {
    from {
        top: 0;
    }
    to {
        top: -50px;
    }
}



/* Media queries for responsiveness */
@media (max-width: 800px) {
    .container-onboard {
        padding: 10px;
        height: auto;
    }

    .progress-steps {
        max-width: 100%;
        margin-top: 20px; /* Ensure it stays within view */
    }

    .circle {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    body {
        font-size: 15px;
    }

    button {
        height: 48px;
        font-size: 15px;
    }

    .container-onboard {
        padding: 10px;
        height: auto;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
    }

    .progress-steps {
        max-width: 100%;
        flex-direction: row; /* Adjust layout for smaller screens */
        align-items: center;
    }

    .step {
        margin-bottom: 10px; /* Add spacing between steps */
    }

    .circle {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    body {
        font-size: 14px;
    }

    button {
        height: 44px;
        font-size: 14px;
    }

    .container-onboard {
        padding: 8px;
        height: auto;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 16px;
    }

    .progress-steps {
        max-width: 100%;
        flex-direction: column; /* Adjust layout for smaller screens */
        align-items: center;
    }

    .step {
        margin-bottom: 8px; /* Add spacing between steps */
    }

    .circle {
        width: 24px;
        height: 24px;
        font-size: 10px;
    }
}
